.alert {
  width: 50%;
  margin: 20px auto;
  padding: 30px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #ff2770;
  color: #25252b;
}
.close {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  right: 15px;
  top: 25px;
  text-align: center;
  font-size: 1.6em;
  cursor: pointer;
}

.success-alert {
  background-color: #a8f0c6;
  border-left: 5px solid #ff2770; /* #a8f0c6 darkened by 50% */
}
.success-alert .close {
  border-color: #ff2770;
  color: #ff2770;
}
