<% layout('layouts/boilerplate')%>
<h1>Hi there <%= currentUser.name %> !!</h1>

<a href="/patient/device/new" style="color: black; font-weight: bold"
  >Add a device</a
>
<ul>
  <% for (let info of data){%>
  <li><a href="/patient/device/<%= info._id %>"><%= info.name %></a></li>
  <% }%>
</ul>
