<% layout('layouts/boilerplate')%>
<h1>this is the dashboard</h1>

<ul>
  <% for (let device of patient_devices){%>
  <li><a href="/patient/device/<%= device._id %>"><%= device.name %></a></li>
  <% }%>
</ul>
